  <h3>Write a comment:</h3>
<%= form_for [@post, @post.comments.build] do |f| %>
  <div class="form-group">
    <%= f.label :text, "#{current_user.name}: " %>
    <%= f.text_area :text, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit 'Create Comment', class: 'btn	btn-primary' %>
  </div>
<% end %>
